# Project exclude paths
.env
.venv
.vscode
.python-version
demploys/
Issues/
__pycache__
.idea
Changes.txt
examples/UPDATE-NEEDS-to-WORK
Config.conf
src/Config.conf
**/.run
**/webai2api/webai2api/
**/webai2api/webai2api.egg-info/
webai2api/
webai2api.egg-info/
build/
dist/