# Set the default AI service to be used.
# Options: gemini
[AI]
default_ai = gemini

# Specify the default model for the Gemini AI service.
# Available options:
# "gemini-1.5-flash", "gemini-2.0-flash", "gemini-2.0-flash-thinking", "gemini-2.0-flash-thinking-with-apps"
default_model_gemini = gemini-2.0-flash

# Provide the necessary cookies for the Gemini AI service, or use a browser to log into your Google account
[Cookies]
gemini_cookie_1psid = 
gemini_cookie_1psidts = 

# Enable or disable each AI service.
# Use "true" to enable or "false" to disable.
[EnabledAI]
gemini = true

# Specify the default browser for any required operations.
# Options: firefox, brave, chrome, edge, safari
[Browser]
name = chrome
