# fastapi
# uvicorn
# prompt_toolkit
# requests
# rich
# pydantic
# python-dotenv
# pysocks
# revChatGPT
# jsonify
# itertools
# Response

anyio
aiohttp
uvicorn
requests
fastapi
prompt_toolkit
rich
revChatGPT
