.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  position: relative;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 20%;
  max-width: 800px;
  width: 100%;
}

.Header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #122a95;
  margin-bottom: 1rem;
  text-align: center;
}

.Select-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.Select-label {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #555;
}

.Select-dropdown {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.Endpoint-description {
  font-size: 0.9rem;
  color: #23611d;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.Model-description {
  font-size: 1rem;
  color: #333;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  overflow: auto;
}

.App-footer {
  margin-top: 2rem;
}

.Footer-link {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}

.Footer-link:hover {
  color: #333;
}

strong {
  font-weight: bold;
}

.googleSessionsContainer,
.claudeSessionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: #ccc dotted 3px;
  border-radius: 5%;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
}

.googleSession,
.claudeSession {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.googleSession-label,
.claudeSession-label {
  margin-right: 0.5rem;
  flex: 1;
  text-align: right;
  padding-right: 1rem;
}

input[type="text"] {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  background-color: #f5f5f5;
}
